@using iot_Class.Models;
@model School
@{
    ViewData["Title"] = "EditSchool";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Müdür</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Okul</a></li>
                                <li class="breadcrumb-item active">Ekle</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Yeni Okul Ekle Formu</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card-box">

                        <div class="row">
                            <div class="col-lg-6">

                                <h4 class="header-title">Yeni Okul Ekleme</h4>

                                <div class="p-4">
                                    <form asp-controller="School" asp-action="EditSchool" method="post" data-parsley-validate novalidate>
                                        <div class="form-group">
                                            <label asp-for="@Model.Name">Okul Adı<span class="text-danger" asp-validation-for="@Model.Name">*</span></label>
                                            <input asp-for="@Model.Name" type="text" name="Name" parsley-trigger="change" required placeholder="Okul Adı" class="form-control" id="name">
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.Email">Mail Adresi<span class="text-danger" asp-validation-for="@Model.Email">*</span></label>
                                            <input asp-for="@Model.Email" type="email" name="Email" parsley-trigger="change" required placeholder="Mail Adresi" class="form-control" id="email">
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.Addresss">Okul Adresi<span class="text-danger" asp-validation-for="@Model.Addresss">*</span></label>
                                            <textarea asp-for="@Model.Addresss" id="address" name="Addresss" placeholder="Okul Adresi" rows="3" required class="form-control"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.Phone">Telefon Numarası<span class="text-danger" asp-validation-for="@Model.Phone">*</span></label>
                                            <input asp-for="@Model.Phone" type="text" name="phone" parsley-trigger="change" required placeholder="Telefon Numarası" class="form-control" id="phone">
                                        </div>
                                        <div class="form-check mb-2 form-check-success">
                                            <input class="form-check-input" type="checkbox" value="true" id="State" name="State" checked="">
                                            <label class="form-check-label" asp-for="@Model.State">Status</label>
                                        </div>

                                        <div class="form-group text-right mb-0">
                                            <button class="btn btn-primary waves-effect waves-light" type="submit">
                                                Güncelle
                                            </button>

                                        </div>

                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
